<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-col logo">
                <a href="../index.html">
                    <img src="../img/logo.png" class="logo">
                </a>
                <p>Разработка и реализация проектов по<br> строительству, реконструкции, <br> реставрации и  инженерному<br> обеспечению объектов гражданского и <br> промышленного строительства.</p>
            </div>
            <div class="footer-col f-services">
                <h3>Услуги</h3>
                <ul class="check--list">
                    <li class="active"><a href="#">Монтаж климатических систем</a></li>
                    <li><a href="#">Обслуживание внутренних систем<br> отопления, водоснабжения, канализации</a></li>
                    <li><a href="#">Вентиляционное и тепловое <br>оборудование, кондиционирование</a></li>
                    <li><a href="#">Системы отопления, водоснабжения,<br> канализации</a></li>
                    <li><a href="#">Проектирование инженерных систем</a></li>
                </ul>
            </div>
            <div class="footer-col contacts">
                <h3>Контакты</h3>
                <div class="col--address">
                    <p>Казахстан, г.Алматы,<br>
                        мкр. Таугуль 3, ул.Шайкенова 34</p>
                </div>
                <div class="col--phone">
                    <a href="#">+7 (727) 313-14-75</a>
                </div>
                <a href="#" class="col--email">office@kbscompany.kz</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright © 2019 ТОО «KBS Company». All Rights Reserved </p>
            <a href="https://artmedia.kz" target="_blank" class="artmedia">Создание сайта - <img src="../img/artmedia.png"></a>
        </div>
    </div>
</footer>