<header>
    <a href="#" class="nav--btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="#" class="phone--btn"></a>
    <div class="top">
        <div class="container">
            <div class="col--address">
                <p>г. Алматы, мкр. Таугуль 3, ул. Шайкенова 34</p>
            </div>
            <a href="#" class="col--email">office@kbscompany.kz</a>
            <div class="col--phone">
                <a href="#">+7 (727) 313-14-75</a>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li><a href="#">+7 (727) 313-14-75 </a></li>
                    <li><a href="#">+7 (727) 313-14-75 </a></li>
                    <li><a href="#">+7 (727) 313-14-75 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="../img/logo.png">
            </a>
            <ul class="nav">
                <li class="active"><a href="about.html">о компании</a></li>
                <li><a href="cat.html">услуги</a></li>
                <li><a href="#">Каталог товаров </a></li>
                <li><a href="#">новости</a></li>
                <li><a href="#">портфолио</a></li>
                <li><a href="contacts.html">контакты</a></li>
            </ul>
            <div class="langs">
                <span>Рус</span>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li><a href="#">Каз</a></li>
                    <li><a href="#">Eng</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>